body {
    font-family: 'Poppins', sans-serif;
}

.centered {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    text-align: center;
    line-height: 30px;
}

#top-text {
    font-size: 15px;
}

.link-button {
    text-decoration: none;
    background-image: linear-gradient(red, tomato);
    font-weight: 700;
    padding: 10px 30px;
    border-radius: 10px;
    color: white;
}

h1 {
    font-size: 40px;
}

.donate-today {
    margin-top: 50px;
    text-align: center;
    padding: 10px 300px;
    line-height: 30px;
}

.donate-bd {
    font-size: 20px;
    color: grey;
}


.flexible-container {
    font-size: 20px;
    color: dimgrey;
    display: flex;
    margin-left: 30%;
    margin-right: 30%;
    justify-content: space-between;
}

.orange-box {
    border: 1px solid red;
    padding-left: 10px;
    padding-bottom: 10px;
    padding-right: 10px;
    background-color: lightpink;
    color: orangered;
}

.taka {
    text-align: center;
    color: grey;
    border-bottom: 1px solid grey;
    margin-left: 25%;
    margin-right: 30%;

}

.below-donate {
    margin-left: 40%;
    margin-right: 40%;
}

.box-item {


    padding: 5px;
    box-shadow: 10px 10px 40px gray;
    border-radius: 10px;
    width: 100%;
}

.flex-item {
    display: flex;
    margin-left: 5%;
    margin-right: 5%;
}

#box1 {
    background-color: lightcyan;
    padding: 15px;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
}

#box2 {
    background-color: lightpink;
    padding: 15px;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 20px
}

#box3 {
    background-color: lightgoldenrodyellow;
    padding: 15px;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 20px
}

.big-image {
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 30px;
    margin-bottom: 30px;
}

.below-heading {
    text-align: center;
    color: rgb(10, 121, 165);
}

.button {
    text-align: center;
    margin-left: 30%;
    margin-right: 25%;
    background-color: lemonchiffon;
    border-radius: 5px;
    border: none;
    padding: 60px 100px 60px 100px;
    display: inline-block;

}

.email {
    background-color: lightgray;
    border: 0;
    border-radius: 5px;
}

.subscribe {
    background-color: orangered;
    color: white;
    border: 0;
    border-radius: 5px;
}

footer {
    text-align: center;
    background-color: lightseagreen;
    color: white;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-top: 30px;
    line-height: 20px;
}

h2 {
    font-size: 30px;
}